
body{
    background-color: aqua;
}
p{
    color: black;
    font-weight: bold;
    font-size: large;
}
#check{
    background-color: rgb(124, 116, 116);
    background-size: cover;
    padding: 8rem 56rem 2rem 0rem;
    color: rgb(131, 77, 7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-align: center;

}